.App {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 75px auto 75px;
  height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

